[submodule "mafia-character-service"]
	path = mafia-character-service
	url = https://github.com/nelldino/mafia-character-service
[submodule "mafia-town-service"]
	path = mafia-town-service
	url = https://github.com/nelldino/mafia-town-service
[submodule "mafia-shop-service"]
	path = mafia-shop-service
	url = https://github.com/MyCallAngel0/mafia-shop-service
[submodule "mafia-roleplay-service"]
	path = mafia-roleplay-service
	url = https://github.com/MyCallAngel0/mafia-roleplay-service
[submodule "mafia-rumors-service"]
	path = mafia-rumors-service
	url = https://github.com/valeriafz/mafia-rumors-service
[submodule "mafia-communication-service"]
	path = mafia-communication-service
	url = https://github.com/valeriafz/mafia-communication-service
