[submodule "mafia-character-service"]
	path = mafia-character-service
	url = https://github.com/nelldino/mafia-character-service
[submodule "mafia-town-service"]
	path = mafia-town-service
	url = https://github.com/nelldino/mafia-town-service
